<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.m42.custody.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.m42.custody.entity.UserEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_user (username, password, email)
        VALUES (#{username}, #{password}, #{email})
    </insert>

    <select id="selectUserList" parameterType="com.m42.custody.entity.UserEntity" resultType="com.m42.custody.entity.UserEntity">
        SELECT id, username, password, email
        FROM sys_user
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="username != null and username != ''">
                AND username LIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="email != null and email != ''">
                AND email = #{email}
            </if>
        </where>
    </select>
    
    <delete id="deleteBatch">
        DELETE FROM sys_user
        WHERE id IN
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <update id="updateUserSelective" parameterType="com.m42.custody.entity.UserEntity">
        UPDATE sys_user
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="email != null and email != ''">email = #{email},</if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>